In [2]:
import requests
import pandas as pd
import geopandas as gpd
import altair as alt
import

In [6]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
   ...:                    ('bird', 'Psittaciformes', 24.0),
   ...:                    ('mammal', 'Carnivora', 80.2),
   ...:                    ('mammal', 'Primates', 70.3),
   ...:                    ('mammal', 'Carnivora', 58)],
   ...:                   index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
   ...:                   columns=('class', 'order', 'max_speed'))
   ...:

In [12]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates       70.3
leopard  mammal       Carnivora       58.0

In [10]:
grouped = df.groupby('order', axis='columns')

In [13]:
grouped = df.groupby(['class', 'order'])

In [15]:
grouped.sum